/****fonts****/
@import "https://fonts.googleapis.com/css?family=VT323";

$vt323: "VT323", mono;

/****colors****/

$black: #222;
$dark-shadow: opacify($black, 0.2);
$dark-blue: #3071a9;
$deep-blue: #367ebd;
$white: #fff;

$light-grey: #617564;
$deep-green: #3e7546;
$off-white: #ccf6d2;
$pastel-green: #82f592;
$green: #67c274;

$dark-red: #c23903;
$deep-red: #f51c2f;
$red-grey: #7a6962;
$light-green: #64f65a;
$forest-green: #51c203;

/****assignments****/

/*gameboard*/

$on-color: $deep-red;
$off-color: $black;
$square-border-color: $dark-red;
$gameboard-border-color: $deep-red;
$gameboard-bg-color: $red-grey;

/*controller*/
$btn-bg-color: $red-grey;
$btn-hover-color: lighten($btn-bg-color, 20%);
$btn-start-color: $forest-green;
$btn-pause-color: $dark-red;
$counter-color: white;
$btn-color: $white;

/*speed slider*/
$speed-bg-color: $black;
$track-shadow1: $red-grey;
$track-shadow2: $white;
$track-border: $forest-green;
$track-bg-color: $forest-green;
$track-focus-color: $deep-blue;
$thumb-shadow1: $red-grey;
$thumb-shadow2: $white;
$thumb-border: $black;
$thumb-color: $white;

$label-color: $white;

/*main*/
$container-bg: $black;
$main-bg-color: $black;

/****sizing*****/
