@import 'variables';

body {
  background-color: $main-bg-color;
}

.gameboard {
  border: 1px solid $gameboard-border-color;
  display: inline-block;
  box-sizing: content-box;
  padding: 20px;
  line-height: 0;
}

.container {
  text-align: center;
}

.row {
  margin: 0;
}

.square {
  border-color: $square-border-color;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  height: 11px;
  width: 11px;
  margin: 0;
  &.on {
    background-color: $on-color;
  }

  &.off {
    background-color: $off-color;
  }

}

